@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --gradient-from: 235 54 127;
  --gradient-to: 121 40 202;
  --geist-background: "#000";
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.glassy-navbar {
  background: linear-gradient(
    112deg,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0) 101.12%
  );
  backdrop-filter: blur(21px);
}

.home-bg {
  background: linear-gradient(to top, #000 0, hsla(0, 0%, 100%, 0) 100%),
    linear-gradient(90deg, rgb(235 54 127/ 0.2) 0, rgb(121 40 202 / 0.2) 100%);
  background-size:
    100% 100%,
    100% 100%,
    1440px 1px;
  background-position: bottom;
  background-repeat: no-repeat;
}

.btn-bg {
  background: linear-gradient(
    135deg,
    rgba(235 54 127 / 0.3) 0,
    rgba(121 40 202 / 0.3) 100%
  );
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/*       switch              */

.toggle {
  cursor: pointer;
  display: inline-block;
}

.toggle-switch {
  display: inline-block;
  background: #ccc;
  border-radius: 16px;
  width: 58px;
  height: 32px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}
.toggle-switch:before,
.toggle-switch:after {
  content: "";
}
.toggle-switch:before {
  display: block;
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  width: 24px;
  height: 24px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: left 0.25s;
}
.toggle:hover .toggle-switch:before {
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}
.toggle-checkbox:checked + .toggle-switch {
  background: #0099ff;
}
.toggle-checkbox:checked + .toggle-switch:before {
  left: 30px;
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}

.toggle-label {
  margin-left: 5px;
  position: relative;
  top: 2px;
}

/*       switch              */
